*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --clr-lightblue: hsl(212, 100%, 50%);
    --clr-white: hsl(0, 0%, 100%);
    --ltmode-clr-greyblue: hsl(217, 20%, 51%);
    --ltmode-clr-navyblue: hsl(217, 35%, 45%);
    --ltmode-clr-drkgrayishblue: hsl(217, 21%, 21%);
    --ltmode-clr-lightgray: hsl(227, 100%, 98%);
    --drkmode-clr-vdrkblue: hsl(220, 40%, 13%);
    --drkmode-clr-drknavyblue: hsl(222, 41%, 20%);
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Space Mono", monospace, sans-serif;
    background-color: var(--ltmode-clr-lightgray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    width: 23.5rem; /*376px*/
    padding: 2rem 1.5rem 0; /* top, left/right, bottom */
}

#title-theme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.25rem; /*36px*/
}

.theme-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme-toggle > img {
    margin-left: 0.5rem;
}

.theme-toggle > p {
    font-size: 13px;
}

#search-area {
    position: relative;
}

#search-area > p {
    color: hsla(0, 91%, 62%, 1);
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    top: 19px;
    right: 100px;
    visibility: hidden;
}

#search-area > p.error {
    visibility: visible;
}

#form-search {
    background-color: var(--clr-white);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 3.75rem; /*60px*/
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-bottom: 1rem;
}

#form-search label {
    scale: 0.75;
}

#form-search input {
    border: none;
    outline: none;
    padding: 0;
    width: 12.25rem; /*200px*/
}

#form-search input::placeholder {
    font-family: "Space Mono", monospace, sans-serif;
    font-size: 13px;
    color: var(--ltmode-clr-navyblue);
}

#form-search button {
    font-family: inherit;
    padding: 0.75rem 1.125rem;
    color: var(--clr-white);
    background-color: var(--clr-lightblue);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#profile {
    border-radius: 10px;
    padding: 2rem 1.5rem 3rem; /*top:32px, left and right: 24px, bottom: 48px*/
    background-color: var(--clr-white);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.user-description {
    display: flex;
    margin-bottom: 2rem;
}

.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    margin-right: 1rem;
}

.name h1 {
    font-size: 1rem;
}

.name h3 {
    color: var(--clr-lightblue);
    font-size: 0.8125rem;
    font-weight: 400;
}

.name p {
    color: var(--ltmode-clr-greyblue);
    font-size: 0.8125rem;
}

.avatar {
    width: 100%;
    border-radius: 50%;
}

.user-bio {
    height: 75px;
    margin-bottom: 1.5rem;
}

.user-bio p {
    font-size: 13px;
    line-height: 1.5;
    color: var(--ltmode-clr-navyblue);
}

.user-stats {
    display: flex;
    justify-content: space-between;
    background-color: var(--ltmode-clr-lightgray);
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.stats {
    flex: 1;
}

.stats h4 {
    color: var(--ltmode-clr-navyblue);
    font-size: 0.6875rem;
    font-weight: 400;
}

.stats p {
    font-size: 1rem;
    font-weight: 700;
}

.user-links {
    display: flex;
    flex-direction: column;
}

.links {
    display: flex;
    padding-block: 10px;
    align-items: center;
}

.links.empty {
    opacity: 0.5;
}

.links > img {
    margin-right: 1rem;
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.links > p {
    font-size: 0.8125rem;
    color: var(--ltmode-clr-navyblue);
}

/****************DARK THEME********/
body.dark {
    background-color: var(--drkmode-clr-vdrkblue);
    color: var(--clr-white);
}

#form-search.dark {
    background-color: var(--drkmode-clr-drknavyblue);
}

input.dark {
    background-color: var(--drkmode-clr-drknavyblue);
    color: white;
}

#form-search input.dark::placeholder {
    font-family: "Space Mono", monospace, sans-serif;
    font-size: 13px;
    color: #fff;
}

#profile.dark {
    background-color: var(--drkmode-clr-drknavyblue);
}

p.create-date.dark {
    color: #fff;
}

.user-bio > p.dark {
    color: #fff;
}

.user-stats.dark {
    background-color: var(--drkmode-clr-vdrkblue);
}

.stats h4.dark {
    color: #fff;
}

.links p.dark {
    color: #fff;
}
